<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquam rem, asperiores aut consequatur minima unde. Animi ad nisi sed similique perspiciatis quibusdam! Ut praesentium suscipit, enim mollitia magnam eos!</p>
    </div>
</section>