<div class="jumbotron mt-">
    <h1 class="display-4" align="center">JNote</h1>
    <p class="lead">This is a brand new app that allows you to upload, delete and edit your notes, all storage s in cloud, so you don´t need to worry about loosing your data </p>
    <hr class="my-4">
    <p>Powered by 4T.</p>
    <a href="https://www.instagram.com/jayhgmusic/" class="btn btn-primary">Instagram</a>
</div>